<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <p>Callback to parent page</p>
		<script>
			window.opener.postMessage(JSON.parse('<%- JSON.stringify(data).replace(/\\/g, '\\\\') %>'), "*");
			window.close();
		</script>
  </body>
</html>